{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load markdownify %}
{% load cache_until %}

{% block title %}{{ object.name }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ object.name }} v{{ object.version_number }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% thumbnail object.icon 256x256 %}" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<meta property="og:description" content="{{ object.description }}" />
<meta property="og:site_name" content="Thunderstore" />
{% endblock %}

{% block content %}
{% cache_until "any_target_updated" "mod-version-detail" 300 object.pk %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "targets.list" %}">Targets</a></li>
    {% if object.target.is_effectively_active %}
    <li class="breadcrumb-item"><a href="{{ object.target.get_absolute_url }}">{{ object.target.name }}</a></li>
    {% else %}
    <li class="breadcrumb-item text-dark">{{ object.target.name }}</li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ object.version_number }}</li>
  </ol>
</nav>

<div class="media mt-4">
    <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
    <div class="media-body">
        <h1 class="mt-0">{{ object.name }}</h1>
        <p>{{ object.description }}</p>
        <div class="d-flex w-100 justify-content-between">
            {% if object.website_url %}
            <a href="{{ object.website_url }}">{{ object.website_url }}</a>
            {% endif %}
        </div>
    </div>
</div>

<table class="table mt-2">
    <tr>
        <td>Date uploaded</td>
        <td>{% humanize_timestamp object.date_added %}</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>{{ object.version_number }}</td>
    <tr>
        <td>Download link</td>
        <td><a href="{{ object.download_url }}">{{ object.full_version_name }}.zip</a></td>
    </tr>
    <tr>
        <td>Downloads</td>
        <td>{{ object.downloads }}</td>
    </tr>
    <tr>
        <td>Dependency string</td>
        <td>{{ object.full_version_name }}</td>
    </tr>
</table>

{% endcache %}
{% endblock %}
