{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load markdownify %}
{% load cache_until %}

{% block title %}{{ object.display_name }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ object.display_name }} v{{ object.version_number }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% thumbnail object.icon 256x256 %}" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<meta property="og:description" content="{{ object.description }}" />
<meta property="og:site_name" content="Thunderstore" />
{% endblock %}

{% block content %}
{% cache_until "any_target_updated" "mod-detail" 300 object.pk %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "targets.list" %}">Targets</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.display_name }}</li>
  </ol>
</nav>

<div class="media mt-4">
    <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
    <div class="media-body">
        <h1 class="mt-0">{{ object.display_name }}</h1>
    </div>
</div>

<table class="table mt-2">
    <tr>
        <td>Dependency string</td>
        <td>{{ object.latest.full_version_name }}</td>
    </tr>
</table>

<h2 class="mt-4">Available versions</h2>
<table class="table">
    <tr>
        <th>Date Added</th>
        <th>Version number</th>
        <th>&nbsp;</th>
    </tr>
    {% for version in object.available_versions %}
    <tr>
        <td>{{ version.date_added|date:"Y-n-j" }}</td>
        <td>{{ version.version_number }}</td>
    </tr>
    {% endfor %}
</table>

{% endcache %}
{% endblock %}
