#logo {
    width: 48px;
    height: 48px;
    border-radius: 22px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    margin-right: .2em;
}

.deleted {
    text-decoration: line-through !important;
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w-fit-content {
    width: fit-content !important;
}

.breadcrumb {
    min-height: 22;
}
